* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('images/bg_balls.jpg') no-repeat center center fixed;
    background-size: cover;
    max-height: 100vh;
}

#content {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    height: 320px;
    width: 480px;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
    position: relative;
    background-color: rgba(20, 243, 68, 0.5);
}

.timerWrapper {
    height: 40px;
    width: 100px;
    background: rgba(20, 243, 68, 0.5);
    border: 2px solid rgb(0, 0, 0);
}

#timer {
    font-size: 35px;
    text-align: center;
}