* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('images/bg_drums.jpg') no-repeat center center fixed;
    background-size: cover;
    max-height: 100vh;
    font-family: Georgia, sans-serif;
    font-size: 40px;
}

.content {
    width: 100vw;
    margin: 50vh -50vw auto;
    left: 50%;
    right: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.buttons,
.channel,
.key,
.soundNames {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center; 
}

.buttons button {
    height: 80px;
    width: 80px;
    background: rgba(0, 0, 0, 0.4);
    border: 4px solid rgb(255, 198, 0);
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}

.buttons button,
.key {
    margin: 10px;
    color: rgb(255, 255, 255);
}

#rec {
    background: rgba(255, 0, 0, 0.7);
}

#play {
    background: rgba(0, 124, 0, 0.7);
}

.key {
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    transition: all .07s ease;
}

kbd,
.soundNames div {
    text-align: center;
    text-transform: capitalize;
}

.playing {
    border-color: rgb(255, 198, 0);
    font-weight: bold;
    transform: scale(1.2);
}

.soundNames {
    justify-content: space-around;
}

.soundNames div {
    width: 70px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(255, 198, 0);
}